<div class="py-8">
  <h2 class="text-2xl font-semibold text-center">
    <%= _p("counter.archives", site.posts.length) %>
  </h2>
  <ul class="flex flex-col justify-center">
    <% var year %> <% page.posts.each(function(post) { %> <% if (year !==
    date(post.date, 'YYYY')) { %> <% year = date(post.date, 'YYYY') %>
    <h3 class="mt-8 mb-4 text-xl font-semibold"><%= year %></h3>
    <% } %>
    <li>
      <a
        href="<%= url_for(post.path) %>"
        class="group flex px-4 py-2 hover:bg-gray-100 transition-colors"
      >
        <span class="basis-20 group-hover:text-orange-500">
          <%= date(post.date, 'MM-DD') %>
        </span>
        <span class="flex-auto group-hover:text-orange-500"
          ><%- post.title %></span
        ></a
      >
    </li>
    <% }) %>
  </ul>
</div>
