<ul class="flex items-center mt-4 py-8 border-b-2 border-dashed border-black">
  <% for (var name in theme.social_links) { %> <% var link =
  theme.social_links[name]; if (name === 'email') { link = 'mailto:' + link } %>
  <li class="mr-4 w-6 h-6">
    <a href="<%- link %>" target="_blank" rel="noopener">
      <img src="/icons/<%- name %>.svg" alt="<%- name %>" />
    </a>
  </li>
  <% } %>
</ul>
<ul class="py-8">
  <% var field_sort = theme.posts_overview.sort_updated ? 'updated' : 'date' %>
  <% if (theme.posts_overview.show_all) { %> <% var posts =
  page.posts.sort(field_sort, 'desc') %> <% } else { %> <% var posts =
  site.posts.sort(field_sort, 'desc').limit(theme.posts_overview.count || 10) %>
  <% } %> <% posts.each(function(post, i) { %> <% var color=i % 2 ===0 ?
  'bg-gray-100' : 'white' %>
  <li class="py-4 px-2 flex items-center justify-between <%- color %>">
    <%- link_to(post.path, post.title) %>
    <span class="text-sm"><%- full_date(post.date, 'MMM Do YY') %></span>
  </li>
  <% }) %>
</ul>
