<div class="post-list">
  <% page.posts.each(function(post, i) { %>
  <article class="post">
    <h2 class="title">
      <%- link_to(post.path, post.title) %>
    </h2>

    <div class="info">
      <span class="date"><%= date(post.date, 'YYYY-MM-DD') %></span>
    </div>

    <div class="content">
      <%- post.excerpt %>
    </div>

    <%- link_to(post.path, __('readmore'), { class: 'read-more' }) %>
  </article>
  <% }) %>
</div>
<div class="paginate">
  <%- paginator({ prev_text: __('prev'), next_text: __('next') }) %>
</div>