<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/mobile') %>

  <div class="container" id="main">
    <div class="layout">
      <%- partial('_partial/nav') %>
      <%- body %>
      <%- partial('_partial/footer') %>
    </div>
  </div>
</body>
<%- js('js/untils.js') %>
<%- js('js/cold.js') %>
<%- js('js/boot.js') %>