<%- partial('_partial/head') %>
<body>
  <nav class="nav">
    <%- partial('_partial/nav') %>
  </nav>
  <main>
    <div class="layout">
      <%- body %>
    </div>
  </main>
  <footer class="footer">
    <div class="layout">
      <%- partial('_partial/footer') %>
    </div>
  </footer>
</body>
<%- js('js/main.js') %>