<section class="archive" id="archive">
  <% if (!page.prev) { %>
  <% if (page.tag) { %>
  <div class="archive-title tag">
    <h2 class="archive-name"><%= page.tag %></h2>
  </div>
  <% } else if (page.category) { %>
  <div class="archive-title category">
    <h2 class="archive-name"><%= page.category %></h2>
  </div>
  <% } else if (page.archive) { %>
  <div class="archive-title">
    <h2 class="archive-name"><%= __("counter.all") %></h2>
    <span class="archive-post-counter">
      <%= _p("counter.archives", site.posts.length) %>
    </span>
  </div>
  <% } %>
  <% } %>


  <% page.posts.each(function(post) { %>
  <% if (page.archive) { %>
  <% var year = date(post.date, 'YYYY') %>
  <h2 class="archive-year"><%= year %></h2>
  <% } %>
  <div class="archive-post">
    <span class="archive-post-time">
      <% var temp = page.archive ? date(post.date, 'MM-DD') : date(post.date, 'YYYY-MM-DD'); %>
      <%= temp %>
    </span>
    <a href="<%= url_for(post.path) %>" class="archive-post-title"><%= post.title %></a>
  </div>
  <% }) %>
</section>