<div class="copy">
  <p>
    <%- __('powered', link_to('https://hexo.io', 'Hexo')) %> |
    <%- __('theme', link_to('https://github.com/mintsweet/hexo-theme-cold', 'Cold')) %>
  </p>
  <p>
    <% var now = date(Date.now(), 'YYYY') %>
    &copy;
    <% if (theme.since && now > theme.since) { %>
    <%= theme.since %> -
    <% } %>
    <%= now %>
    <span><%= config.author %></span>
  </p>
</div>