<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <% 
    var title = page.title;

    if (is_archive()) {
      title = __('archive');
    } else if (is_category()) {
      title = `${__('categories')}:${page.category}`;
    } else if (is_tag()) {
      title = `${__('tags')}:${page.tag}`;
    } else if (page.type === 'tags') {
      title = __('tags');
    }
  %>
  <title>
    <% if (title) { %>
    <%= title %> |
    <% } %>
    <%= config.title %>
  </title>
  <meta name="author" content="<%- config.author %>">
  <meta name="keywords" content="<%- config.keywords %>">
  <meta name="description" content="<%- config.description %>">
  <% if (theme.favicon) { %>
  <link rel="icon" href="<%- theme.favicon %>">
  <% } %>
  <%- css('css/style') %>
</head>