<div class="mobile-navbar" id="mobileNavbar">
  <div class="mobile-navbar-logo">
    <a href="<%- url_for('.') %>" class="logo"><%= config.title %></a>
  </div>
  <% if (theme.isHome) { %>
  <div class="mobile-navbar-home">
    <a href="<%- theme.isHome.url %>">
      <i class="iconfont">&#xe600;</i>
    </a>
  </div>
  <% } %>
  <div class="mobile-navbar-menu" id="menuBar">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>

<div class="mobile-menu" id="mobileMenu">
  <ul class="mobile-menu-list">
    <% for (var i in theme.menu) { %>
    <li class="mobile-menu-item">
      <% var name = __('menu.' + i) %>
      <a href="<%- url_for(theme.menu[i]) %>">
        <% if (name.startsWith('menu')) { %>
        <%= i %>
        <% } else { %>
        <%= name %>
        <% } %>
      </a>
    </li>
    <% } %>
  </ul>
</div>