<ul class="menu">
  <% if (theme.isHome) { %>
  <li class="menu-item">
    <a href="<%- theme.isHome.url %>" class="iconfont">&#xe600;</a>
    <span><%= config.title %></span>
  </li>
  <% } %>
  <% for (var i in theme.menu) { %>
  <li class="menu-item">
    <a href="<%- url_for(theme.menu[i]) %>" class="iconfont icon-<%- i %>"></a>
    <%
      var name = __('menu.' + i.toLowerCase());
      name = name.startsWith('menu') ? i : name;
    %>
    <span><%= name %></span>
  </li>
  <% } %>
</ul>