<article class="post">
  <h1 class="post-title">
    <% if (is_home()) { %>
    <a href="<%- url_for(post.path) %>">
      <%= post.title %>
    </a>
    <% } else { %>
    <%= post.title %>
    <% } %>
  </h1>
  <div class="post-pub">
    <div class="post-date">
      <i class="iconfont">&#xe64d;</i>
      <span><%= date(post.date, 'YYYY-MM-DD') %></span>
    </div>
    <div class="post-cat">
      <% post.categories && post.categories.each(function(cat) { %>
      <a class="cat" href="<%- url_for(cat.path) %>">
        <i class="iconfont">&#xe603;</i>
        <span><%= cat.name %></span>
      </a>
      <% }) %>
    </div>
  </div>

  <div class="post-content">
    <% if (is_home()) { %>
    <%
        var excerpt = '';
        if (post.description) {
          excerpt = '<p>' + post.description + '</p>';
        } else if (post.excerpt) {
          excerpt = post.excerpt;
        }
      %>
    <% } %>

    <% if (excerpt) { %>
    <%- excerpt %>
    <% } else { %>
    <%- post.content %>
    <% } %>
  </div>

  <% if (is_home()) { %>
  <a href="<%- url_for(post.path) %>" class="read-more"><%= __('posts.readmore') %></a>
  <% } %>
  <div class="post-tags">
    <%  post.tags && post.tags.each(function(tag) { %>
    <a href="<%- url_for(tag.path) %>" class="tag"><i class="iconfont">&#xe69f;</i><%= tag.name %></a>
    <% }) %>
  </div>
</article>